<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-container">
        <!-- Lado direito com formulário -->
        <div class="right-side">
            <h1>{{title}}</h1>

            <!-- Exibe uma mensagem de erro, se houver -->
            {{#if error}}
            <div class="error-message">
                <p>{{error}}</p>
            </div>
            {{/if}}

            <!-- Formulário de edição -->
            <form action="/Home/clientes/vincular/{{cliente._id}}" method="POST">
                <div class="form-group">
                    <label for="fornecedorId">Fornecedores:</label>
                    <select id="fornecedorId" name="fornecedorId" multiple required>
                        {{#if fornecedores.length}}
                        {{#each fornecedores}}
                            <option value="{{_id}}">{{nome}}</option>
                        {{/each}}
                        {{else}}
                        <option disabled>Nenhum fornecedor disponível</option>
                        {{/if}}
                    </select>
                </div>

                <!-- Botões -->
                <div class="form-actions">
                    <a href='/Home/clientes'class="button-back">Voltar</a>
                    <button type="submit" class="button-submit">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
