<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Fornecedor</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js" 
  integrity="sha512-MpDFIChbcXl2QgipQrt1VcPHMldRILetapBl5MPCA9Y8r7qvlwx1/Mc9hNTzY+kS5kX6PdoDq41ws1HiVNLdZA==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer"></script>

</head>
<body>
  <div class="container" id="container">
     <!-- Informações do Fornecedor -->
    <div id="pdf">
    <div class="form-group">
      <label for="nome">Nome</label>
      <span id="nome">{{fornecedor.nome}}</span>
    </div>
    
    <div class="form-group">
      <label for="contato">Contato</label>
      <span id="contato">{{fornecedor.contato}}</span>
    </div>
    
    <div class="form-group">
      <label for="endereco">Endereço</label>
      <span id="endereco">{{fornecedor.endereco}}</span>
    </div>
    
    <!-- Pedidos -->
    <div id="pedidos-section">
      <h2>Pedidos</h2>
      <div id="pedidos">
        {{#each fornecedor.pedidos}}
          <div class="pedido">
            <label for="item-{{@index}}">Item</label>
            <span id="item-{{@index}}">{{this.item}}</span>

            <label for="quantidade-{{@index}}">Quantidade</label>
            <span id="quantidade-{{@index}}">{{this.quantidade}}</span>
          </div>
        {{/each}}
         
      </div>
     
    </div>
    </div>
     <button class="back-button" id="backButton" onclick="window.location.href = '/fornecedores/get/{{fornecedor._id}}';">Voltar</button>
     <button id="generate-pdf">Gerar PDF</button>
  </div>
 

</body>
<script>
    const btnGererate = document.querySelector('#generate-pdf');
    const nome = document.querySelector('#nome');

btnGererate.addEventListener('click', () => {
    
const pdf = document.querySelector('#pdf');
const options = {

    margin: [10, 10, 10, 10], 
    filename: `fornecedores_${nome.textContent}.pdf`,
    html2canvas: {scale: 2},
    jsPDF: {unit: 'mm', format: 'a4', orientation: 'portrait'}
}

html2pdf().set(options).from(pdf).save();

});
</script>
</html>
