<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Fornecedor</title>

</head>

<body>
  <div class="container">
    <h1>Visualizar Fornecedor</h1>
    <!-- Informações do Fornecedor -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <span id="nome">{{fornecedor.nome}}</span>
    </div>

    <div class="form-group">
      <label for="contato">Contato</label>
      <span id="contato">{{fornecedor.contato}}</span>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <span id="endereco">{{fornecedor.endereco}}</span>
    </div>

    <!-- Pedidos -->
    <div id="pedidos-section">
      <h2>Pedidos</h2>
      <div id="pedidos">
        {{#each fornecedor.pedidos}}
        <div class="pedido">
          <label for="produto-{{@index}}">Produto</label>
          <span id="produto-{{@index}}">
            {{#if this.produto}}
            {{this.produto.nome}} <!-- Nome do produto -->
            {{else}}
            Produto não disponível
            {{/if}}
          </span>

          <label for="preco-{{@index}}">Preço</label>
          <span id="preco-{{@index}}">
            {{#if this.produto}}
            R${{this.produto.preco}} <!-- Preço do produto -->
            {{else}}
            Preço não disponível
            {{/if}}
          </span>

          <label for="quantidade-{{@index}}">Quantidade</label>
          <span id="quantidade-{{@index}}">
            {{#if this.quantidade}}
            {{this.quantidade}} <!-- Quantidade do pedido -->
            {{else}}
            Quantidade não disponível
            {{/if}}
          </span>
        </div>
        {{/each}}
      </div>
    </div>





    <button class="gerar-pdf" id="gerar-pdf"
      onclick="window.location.href = '/Home/fornecedores/pdf/{{fornecedor._id}}';">Visualizar PDF</button>
    <button class="back-button" id="backButton" onclick="window.location.href = '/Home/fornecedore';">Voltar</button>

  </div>
</body>

</html>