<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Fornecedor</title>
  
</head>
<body>
  <div class="container">
    <a href="/fornecedores" id="voltar-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
</svg></a>
    <h1>Visualizar Fornecedor</h1>
    <!-- Informações do Fornecedor -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <span id="nome">{{fornecedor.nome}}</span>
    </div>
    
    <div class="form-group">
      <label for="contato">Contato</label>
      <span id="contato">{{fornecedor.contato}}</span>
    </div>
    
    <div class="form-group">
      <label for="endereco">Endereço</label>
      <span id="endereco">{{fornecedor.endereco}}</span>
    </div>
    
    <!-- Pedidos -->
    <div id="pedidos-section">
      <h2>Pedidos</h2>
      <div id="pedidos">
        {{#each fornecedor.pedidos}}
          <div class="pedido">
            <label for="item-{{@index}}">Item</label>
            <span id="item-{{@index}}">{{this.item}}</span>

            <label for="quantidade-{{@index}}">Quantidade</label>
            <span id="quantidade-{{@index}}">{{this.quantidade}}</span>
          </div>
        {{/each}}
      </div>
    </div>
    
  </div>
</body>
</html>
