<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar Fornecedor</title>

</head>

<body>
  <div class="container">
    <h1>Visualizar Fornecedor</h1>
    <!-- Informações do Fornecedor -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <span id="nome">{{fornecedor.nome}}</span>
    </div>

    <div class="form-group">
      <label for="contato">Contato</label>
      <span id="contato">{{fornecedor.contato}}</span>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <span id="endereco">{{fornecedor.endereco}}</span>
    </div>

    <!-- Pedidos -->
    {{#if fornecedor.pedidos.length}}
    <div id="pedidos-section">
      <h2>Pedidos</h2>
      <div id="pedidos">
        {{#each fornecedor.pedidos}}
        <div class="pedido">
          <label for="item-{{@index}}">Item</label>
          <span id="item-{{@index}}">{{this.item.nome}}</span>

          <label for="preco-{{@index}}">Preço</label>
          <span id="preco-{{@index}}">R${{this.item.preco}}</span>

          <label for="quantidade-{{@index}}">Quantidade</label>
          <span id="quantidade-{{@index}}">{{this.quantidade}}</span>
        </div>
        {{/each}}
      </div>
    </div>
    {{else}}
    <div id="pedidos-section">
      <h2>Pedidos</h2>
      <p>Nenhum pedido encontrado para este fornecedor.</p>
    </div>
    {{/if}}

    <button class="gerar-pdf" id="gerar-pdf"
      onclick="window.location.href = '/Home/fornecedores/pdf/{{fornecedor._id}}';">Visualizar PDF</button>
    <button class="back-button" id="backButton" onclick="window.location.href = '/Home/fornecedore';">Voltar</button>

  </div>
</body>

</html>