<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fornecedores</title>
    <link rel="stylesheet" href="caminho/para/seu/estilo.css">
  </head>
  <body>
    <div class="main-container">
      <div class="left-side">
        <div class="top-back-button">
        <a href="/Home">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
            </svg>
        </a>
      </div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 250 250" width="250" height="250" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;"><defs><clipPath id="__lottie_element_2"><rect width="250" height="250" x="0" y="0"></rect></clipPath></defs><g clip-path="url(#__lottie_element_2)"><g transform="matrix(1,0,0,1,-0.0133514404296875,11.310478210449219)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><g opacity="1" transform="matrix(1,0,0,1,135.81199645996094,124.7239990234375)"><path fill="rgb(56,232,198)" fill-opacity="1" d=" M-60.185001373291016,53.0620002746582 C-60.185001373291016,53.0620002746582 -78.7959976196289,53.0620002746582 -78.7959976196289,53.0620002746582 C-82.9469985961914,53.0620002746582 -86.31099700927734,49.698001861572266 -86.31099700927734,45.547000885009766 C-86.31099700927734,45.547000885009766 -86.31099700927734,-45.547000885009766 -86.31099700927734,-45.547000885009766 C-86.31099700927734,-49.698001861572266 -82.9469985961914,-53.0620002746582 -78.7959976196289,-53.0620002746582 C-78.7959976196289,-53.0620002746582 25.77199935913086,-53.0620002746582 25.77199935913086,-53.0620002746582 C32.41999816894531,-53.0620002746582 38.75899887084961,-50.257999420166016 43.23099899291992,-45.3390007019043 C43.23099899291992,-45.3390007019043 80.33499908447266,-4.52400016784668 80.33499908447266,-4.52400016784668 C80.33499908447266,-4.52400016784668 84.02799987792969,-0.4620000123977661 84.02799987792969,-0.4620000123977661 C85.49700164794922,1.1540000438690186 86.31099700927734,3.259999990463257 86.31099700927734,5.443999767303467 C86.31099700927734,5.443999767303467 86.31099700927734,45.547000885009766 86.31099700927734,45.547000885009766 C86.31099700927734,49.698001861572266 82.9469985961914,53.0620002746582 78.7959976196289,53.0620002746582 C78.7959976196289,53.0620002746582 65.56400299072266,53.0620002746582 65.56400299072266,53.0620002746582"></path></g><g opacity="1" transform="matrix(1,0,0,1,175.2729949951172,100.22899627685547)"><path fill="rgb(51,109,255)" fill-opacity="1" d=" M-28.979999542236328,-22.676000595092773 C-28.979999542236328,-22.676000595092773 -14.079999923706055,-22.676000595092773 -14.079999923706055,-22.676000595092773 C-8.817999839782715,-22.676000595092773 -3.802000045776367,-20.445999145507812 -0.2759999930858612,-16.540000915527344 C-0.2759999930858612,-16.540000915527344 32.775001525878906,20.07900047302246 32.775001525878906,20.07900047302246 C33.73899841308594,21.033000946044922 33.0629997253418,22.676000595092773 31.707000732421875,22.676000595092773 C31.707000732421875,22.676000595092773 -29.73200035095215,22.676000595092773 -29.73200035095215,22.676000595092773 C-31.690000534057617,22.676000595092773 -33.26599884033203,21.069000244140625 -33.22800064086914,19.11199951171875 C-33.22800064086914,19.11199951171875 -32.474998474121094,-19.249000549316406 -32.474998474121094,-19.249000549316406 C-32.4379997253418,-21.152999877929688 -30.884000778198242,-22.676000595092773 -28.979999542236328,-22.676000595092773z"></path></g></g></g><g transform="matrix(1,0,0,1,2.1196441650390625,12.21600341796875)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,65.15299987792969,91.04399871826172)"><path fill="rgb(56,115,232)" fill-opacity="1" d=" M37.277000427246094,0 C37.277000427246094,20.586999893188477 20.586999893188477,37.277000427246094 0,37.277000427246094 C-20.586999893188477,37.277000427246094 -37.277000427246094,20.586999893188477 -37.277000427246094,0 C-37.277000427246094,-20.586999893188477 -20.586999893188477,-37.277000427246094 0,-37.277000427246094 C20.586999893188477,-37.277000427246094 37.277000427246094,-20.586999893188477 37.277000427246094,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><g opacity="1" transform="matrix(1,0,0,1,65.15299987792969,91.04399871826172)"><path fill="rgb(56,232,198)" fill-opacity="1" d=" M16.893999099731445,15.446999549865723 C16.893999099731445,15.446999549865723 -16.893999099731445,15.446999549865723 -16.893999099731445,15.446999549865723 C-16.893999099731445,15.446999549865723 -16.893999099731445,-15.446999549865723 -16.893999099731445,-15.446999549865723 C-16.893999099731445,-15.446999549865723 16.893999099731445,-15.446999549865723 16.893999099731445,-15.446999549865723 C16.893999099731445,-15.446999549865723 16.893999099731445,15.446999549865723 16.893999099731445,15.446999549865723z"></path></g><g opacity="1" transform="matrix(1,0,0,1,65.15299987792969,84.2030029296875)"><path fill="rgb(56,115,232)" fill-opacity="1" d=" M3.8550000190734863,7.626999855041504 C3.8550000190734863,7.626999855041504 -3.8550000190734863,7.626999855041504 -3.8550000190734863,7.626999855041504 C-3.8550000190734863,7.626999855041504 -3.8550000190734863,-7.626999855041504 -3.8550000190734863,-7.626999855041504 C-3.8550000190734863,-7.626999855041504 3.8550000190734863,-7.626999855041504 3.8550000190734863,-7.626999855041504 C3.8550000190734863,-7.626999855041504 3.8550000190734863,7.626999855041504 3.8550000190734863,7.626999855041504z"></path></g></g></g><g transform="matrix(1,0,0,1,-3.0393524169921875,11.813003540039062)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><g opacity="1" transform="matrix(1,0,0,1,180.1750030517578,174.8249969482422)"><path fill="rgb(51,109,255)" fill-opacity="1" d=" M21.406999588012695,0 C21.406999588012695,11.822999954223633 11.822999954223633,21.406999588012695 0,21.406999588012695 C-11.822999954223633,21.406999588012695 -21.406999588012695,11.822999954223633 -21.406999588012695,0 C-21.406999588012695,-11.822999954223633 -11.822999954223633,-21.406999588012695 0,-21.406999588012695 C11.822999954223633,-21.406999588012695 21.406999588012695,-11.822999954223633 21.406999588012695,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,180.1750030517578,174.8249969482422)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M6.798999786376953,0 C6.798999786376953,3.755000114440918 3.755000114440918,6.798999786376953 0,6.798999786376953 C-3.755000114440918,6.798999786376953 -6.798999786376953,3.755000114440918 -6.798999786376953,0 C-6.798999786376953,-3.755000114440918 -3.755000114440918,-6.798999786376953 0,-6.798999786376953 C3.755000114440918,-6.798999786376953 6.798999786376953,-3.755000114440918 6.798999786376953,0z"></path></g></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><g opacity="1" transform="matrix(1,0,0,1,92.9749984741211,174.8249969482422)"><path fill="rgb(51,109,255)" fill-opacity="1" d=" M21.406999588012695,0 C21.406999588012695,11.822999954223633 11.822999954223633,21.406999588012695 0,21.406999588012695 C-11.822999954223633,21.406999588012695 -21.406999588012695,11.822999954223633 -21.406999588012695,0 C-21.406999588012695,-11.822999954223633 -11.822999954223633,-21.406999588012695 0,-21.406999588012695 C11.822999954223633,-21.406999588012695 21.406999588012695,-11.822999954223633 21.406999588012695,0z"></path></g><g opacity="1" transform="matrix(1,0,0,1,92.9749984741211,174.8249969482422)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M6.798999786376953,0 C6.798999786376953,3.755000114440918 3.755000114440918,6.798999786376953 0,6.798999786376953 C-3.755000114440918,6.798999786376953 -6.798999786376953,3.755000114440918 -6.798999786376953,0 C-6.798999786376953,-3.755000114440918 -3.755000114440918,-6.798999786376953 0,-6.798999786376953 C3.755000114440918,-6.798999786376953 6.798999786376953,-3.755000114440918 6.798999786376953,0z"></path></g></g></g><g transform="matrix(1,0,0,1,128.44564819335938,125)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke-dasharray=" 21" stroke-dashoffset="-598.280029296875" stroke="rgb(56,114,232)" stroke-opacity="1" stroke-width="2" d=" M-84.375,34.25 C-84.375,34.25 -112,34.125 -112,34.125"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,6.25)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke-dasharray=" 21" stroke-dashoffset="-615.280029296875" stroke="rgb(56,114,232)" stroke-opacity="1" stroke-width="2" d=" M-84.375,34.25 C-84.375,34.25 -104.25,34.125 -104.25,34.125"></path></g></g></g></svg>
      </div>
      <div class="right-side">
        <h1>Fornecedores</h1>
        <div>
          <a href="/Home/fornecedores/novo" class="button3">Adicionar Fornecedor
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-building-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
              <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
              <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
            </svg>
          </a>
        </div>

        <ul class="client-list">
          {{#if fornecedores.length}}
            {{#each fornecedores}}
              <li>
                <a href="/Home/fornecedores/get/{{_id}}" class="button1">Fornecedor(a): {{nome}}</a>

                <div class="client-actions">
                  <a href="/Home/fornecedores/edit/{{_id}}" class="button2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </a>

                  <a href="/Home/fornecedores/delete/{{_id}}" class="button2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47z"/>
                    </svg>
                  </a>
                </div>
              </li>
            {{/each}}
          {{else}}
            <li>Sem fornecedores cadastrados</li>
          {{/if}}
        </ul>
      </div>
    </div>
  </body>
</html>
